body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #1E2028;
    background-image: url('low_contrast_linen.png');
    color: white;
    font-family: Raleway, sans-serif;
}

main {
    padding: 0 .5em .5em .5em;
}

section {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#header, section#thin {
    flex:1;
}

section#textareas {
    padding-bottom: 1em;
}

section#buttons {
    text-align:center;
    align-items: space-around;
}

section div {
    flex: 1 0 0;
}

.hccdoIcon {
    font-size: xx-large;
    font-weight: bold;
}

section#buttons .hccdoIcon {
    font-size: large;
    font-weight: bold;
}

iframe {
    flex: 5;
    background-color: white;
    color: black;
}
textarea {
    width: 90%;
    height:5rem;
}

input#hccdoProjectName, input#extCSS {
    width:90%;
}

h4 {
    margin-bottom: 0;
}
h4 + h4 {
    margin-top: .5rem;
}
.unh4 {
    font-size:normal;
    font-weight:normal;
}
.nw {
    white-space: nowrap;
    padding: 0 .5rem 0 0;
}
.up {
    font-size:smaller;
}


@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    background-image: url('low_contrast_linen@2x.png');
  }
}
