/* Styles for the help page, inspired by Firefox's reader view and Edward Morbius. */

html {
  font-size: medium;
}

body {
    color: #1E2028;
    background-image: url('fabric_plaid.png');
    font-family: Montserrat, sans-serif;
    margin: 2rem auto;
    max-width: 40em;
    padding: 0 2em;
    width: auto;
    font-size: 1rem;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
  color: #656565;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-top: 2em;
}

h1 {
  font-size: 2.0em;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  border-bottom: solid 0.1rem #656565;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
  text-decoration: underline;
}

h5 {
  font-size: 1.2em;
  font-style: italic;
}

h6 {
  font-size: 1.1em;
  margin-bottom: 0.5rem;
}

* {
  max-width: 100%;
  height: auto;
}

p,
code,
pre,
blockquote {
  margin: 0 0 1.6em 0;
}

code,
pre {
  white-space: pre-wrap;
}

blockquote {
  padding: 0;
  -webkit-padding-start: 1em;
}

ul,
ol,
li {
  margin: 0 0 0.5em 0;
}

ul,
ol {
  padding: 0;
}

ul {
  -webkit-padding-start: 1.6em;
  list-style: disc;
}

ol {
  -webkit-padding-start: 1.6em;
  list-style: decimal;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: /*#1e6b8c;*/#0081C2;
  font-size: 1em;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  transition-timing-function: linear;
}

a:visited {
  text-decoration: none;
  color: #5A2D7F;
  font-size: 1em;
}

a:hover {
  text-decoration: underline;
  background: #f0f0f0;
  font-size: 1em;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    background-image: url('fabric_plaid@2x.png');
  }
}
