body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #1E2028;
    background-image: url('low_contrast_linen.png');
    color: white;
    font-family: Raleway, sans-serif;
}

main {
    padding: 0 .5em .5em .5em;
}

section {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.thin {
    flex:1;
}

section#textareas {
    padding-bottom: 1em;
}

section#textareas subsection {
    padding-right: 1em;
}

section#buttons {
    text-align:center;
    align-content: space-around;
}

section subsection {
    flex: 1 0 33%;
    min-width: 340px;
    margin-bottom: 10px;
}

section#buttons subsection {
    flex: 1 0 33%;
    min-width: 222px;
    margin-bottom: 5px;
}

.hccdoIcon {
    font-size: xx-large;
    font-weight: bold;
}

section#buttons .hccdoIcon {
    font-size: large;
    font-weight: bold;
}

section#header img {
    height:55px;
    margin-bottom:-7px;
    border: 2px solid gray;
    border-radius: 5px;
}

textarea {
    width: 90%;
    height:5rem;
}
textarea#projectNotes {
    width: 75%;
    height:1rem;
    vertical-align:top;
    background-image: url('fabric_plaid.png');
}

input[type=text] {
    border-radius: 0.25rem;
    padding-left: 0.25rem;
    background-image: url('fabric_plaid.png');
}

input#hccdoProjectName, input#extCSS {
    width:90%;
}

input#username {
    width: 7rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #eee;
}

h4 {
    margin-bottom: 0;
}
h4 + h4 {
    margin-top: .5rem;
}
#header h4 {
    margin-top: .25rem;
}

h4 span {
    font-size:inherit;
    font-weight:normal;
}
.nw {
    white-space: nowrap;
    padding: 0 .5rem 0 0;
}
.up {
    font-size:smaller;
}

output {
    width: 100%;
    height: 100vh;
    min-height:500px;
}

iframe {
    background-color: white;
    color: black;
    width:100%;
    height:100%;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    background-image: url('low_contrast_linen@2x.png');
  }
  .cm-s-ambiance .CodeMirror-gutters {
      background-image: url('low_contrast_linen@2x.png');
  }
}

/* addition to the codemirror theme */

.cm-s-ambiance .CodeMirror-gutters {
  background-image: url('low_contrast_linen.png');
}
