<div class="wrapper {{Devisor}}">
  <div class="info">
    {{#Special}}
      <div class="uncolored special">{{Special}}</div>
    {{/Special}}
    {{#Couples}}
      <div class="uncolored"><span class="count">{{Couples}}</span>-couple</div>      
    {{/Couples}}
    {{#Devisor}}
      <div class="devisor {{Devisor}}">{{Devisor}}</div>
    {{/Devisor}}
    {{#Tempo}}
      <div class="uncolored tempo {{Tempo}}">{{Tempo}}</div>
    {{/Tempo}}
    {{^Tempo}}{{#Couples}}{{#Devisor}}
      <div>dances</div>
    {{/Devisor}}{{/Couples}}{{/Tempo}}
    {{^Tempo}}{{^Couples}}{{#Devisor}}
      <div>dances</div>
    {{/Devisor}}{{/Couples}}{{/Tempo}}
    {{^Tempo}}{{#Couples}}{{^Devisor}}
      <div>dances</div>
    {{/Devisor}}{{/Couples}}{{/Tempo}}
  </div>
</div>
