.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    font-family: Raleway, sans-serif;
    font-size: 14pt;
    width: 100%;
    height: 100%;
}

.wrapper.Drewry {
    color: blue;
}
.wrapper.Foss {
    color: green;
}
.wrapper.Goldring {
    color: red;
}

.corner, .title {
    padding: 10pt;
}

.corner {
    display: flex;
    flex: 2;
    align-items: flex-start;
    flex-direction: row;
    font-weight: 600;
}

.info {
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    display:flex;
    flex: 3;
    align-items: flex-end;
    justify-content: center;
    font-family: Amiri, serif;
    font-style: italic;
}

.Jig.corner::before {
    content: 'J';
}
.Strathspey.corner::before {
    content: 'S';
}
.Reel.corner::before {
    content: 'R';
}

.Jig.tempo {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 18pt;
}

.Strathspey.tempo {
    font-family: Italianno, cursive;
    font-weight: bold;
    font-size: 28pt;
}

.Reel.tempo {
    font-family: 'Cherry Swash', cursive;
    font-weight: bold;
    font-size: 22pt;
}

.tempo {
    text-shadow: 4px 4px 4px #aaa;
}
.count, .devisor {
    text-shadow: 2px 2px 2px #ccc;
}

.Drewry.corner::after {
    content: 'D';
}
.Foss.corner::after {
    content: 'F';
}
.Goldring.corner::after {
    content: 'G';
}

.text {
    font-size: 16pt;
}

.devisor {
    font-family: Cabin, sans-serif;
    font-size: 16pt;
}

.Drewry.devisor::before {
    content: 'John ';
}

.Foss.devisor::before {
    content: 'Hugh ';
}

.Goldring.devisor::before {
    content: 'Roy ';
}

.count {
    font-size: 20pt;
    font-weight: 500;
}

