<div class="wrapper {{Devisor}}">
  <div class="corner {{Tempo}} couples{{Couples}} {{Devisor}}">{{Couples}}</div>
  
  <div class="info">
    <div>A</div>
    <div class="tempo {{Tempo}}">{{Tempo}}</div>
    <div>for <span class="count">{{Couples}}</span> couples</div>      
    <div>by <span class="devisor {{Devisor}}">{{Devisor}}</span></div>      
  </div>
  
  <div class="title">{{Dance}}</div>
</div>
